body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #121212;
  color: #F8F8F8;
}

nav li:last-child a:hover {
  background: #a02f02;
}

.size {
  background: #ccc;
  color: #232323;
  opacity: 0.7;
}

nav li a {
  transition: all 0.2s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #232323;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.2s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #121212;
  color: #121212;
}

section.cart {
  background: #232323;
}
