body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #232323;
  color: #F8F8F8;
}

nav li:last-child a:hover {
  background: #a02f02;
}

nav li a {
  transition: all 0.1s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #121212;
}
